/* App.css */

.App {
  padding: 100px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  margin-bottom: 50px;
}

.add-new {
  width: 300px;
  background-color: #282c34;
  padding: 10px;
}

.add-new button {
  background-color: #08ace5;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-new label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 16px;
}

.add-new input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  background-color: #404a57;
  color: white;
  border-radius: 3px;
}

.add-new label input[type="checkbox"] {
  margin-top: 5px;

  width: 13px;
}

.complete {
  text-decoration: line-through;
  color: gray;
}

.edit-mode {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  background-color: #282c34;
  margin-top: 10px;
}

.edit-mode button {
  background: none;
  border: none;
  cursor: pointer;
  color: #08ace5;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
}

.edit-mode label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 14px;
  /* margin-bottom: 10px; */
}

.edit-mode input {
  width: 100%; 
  min-width: 200px;
  padding: 8px;
  border: none;
  background-color: #404a57;
  color: white;
  border-radius: 3px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.task-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}

.task-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  background-color: #282c34;
  margin-top: 10px;
}

.task-container li p:first-child {
  font-weight: bold;
}

.task-container li p:nth-child(2) {
  font-size: 14px;
  /* color: white; */
  padding: 0 10px;
}

.task-container li input[type="checkbox"] {
  margin-right: 5px;
}

.task-container li button {
  background: none;
  border: none;
  cursor: pointer;
  color: #08ace5;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
}

.title-description {
  margin-left: 25px;
  margin-right: 25px;
}

/* Styles for Edit Mode */
.task-container li.edit-mode {
  background-color: #404a57;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.task-container li.edit-mode label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 14px;
}

.task-container li.edit-mode input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  background-color: #282c34;
  color: white;
  border-radius: 3px;
}

.task-container li.edit-mode input[type="checkbox"] {
  margin-right: 5px;
}

.task-container li.edit-mode button {
  background-color: #08ace5;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
}
